<table id="overviewsTable" border="1">
    <tr>
        <td>
            <strong>ClassId</strong>
        </td>
        <td>
            <strong>Dept</strong>
        </td>
        <td>
            <strong>Num</strong>
        </td>
        <td>
            <strong>Area</strong>
        </td>
        <td>
            <strong>Title</strong>
        </td>
    </tr>
    {% if courses | length == 0: %}
        
    {% else %}
        {% for class_dict in courses %}
            <tr>
                <td>
                    <a href="/regdetails?classid={{class_dict.classid}}">{{class_dict.classid}}</a> 
                </td>
                <td>{{class_dict.dept}}</td>
                <td>{{class_dict.coursenum}}</td>
                <td>{{class_dict.area}}</td>
                <td>{{class_dict.title}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>